body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0b141a; 
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.container {
    display: flex;
    width: 95vw;
    height: 91vh;
    align-items: center;
    justify-self: center;
    
}

#fileSystem {
    width: 100vw;
    height: 85vh;
    background-color: rgba(199, 199, 199, 0.07);
    border: 1px solid rgba(0, 242, 255, 0.2);
    border-radius: 8px;
    padding: 10px;
}

#title { color: white; 
                margin: 0; 
        }      


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background:rgba(199, 199, 199, 0.07);
    border-bottom: 1px solid rgba(0, 242, 255, 0.2);
    }

#logout {
    display: flex;
    justify-content: right;
}

#logoutButton {
    padding: 10px; 
    background-color: red; 
    border: none; 
    border-radius: 4px; 
    color: white; 
    font-size: 16px; cursor: pointer;
    text-decoration: none;
    text-decoration: bold;
    margin: 0;
}

#logoutButton:hover {
    background-color: #4d0000; 
}