/* Basic inline styles for a quick template */
        body { background-color: #0b141a; 
                display: flex; flex-direction: 
                column; justify-content: center; 
                align-items: center; 
                height: 100vh; margin: 0; }

        .login-container { background: #bb00ff7e; 
                padding: 20px 30px; border-radius: 5px; border: 1px solid rgba(0, 242, 255, 0.2); width: 50%; margin-bottom: 5%;}

        
        .form-group { margin-bottom: 15px; }

        label { display: block; margin-bottom: 5px; font-weight: bold; color: #e7e7e7; }

        input[type="text"], input[type="password"] { width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px; box-sizing: border-box; }

        button { width: 100%; padding: 10px; background-color: #00f2ff; border: none; border-radius: 4px; color: white; font-size: 16px; cursor: pointer; }

        button:hover { background-color: #007c85; }

        html { font-family: "Courier New", Courier, monospace;}
        
        #registerButton { background-color: #39ff14; margin-top: 2%;}

@media only screen and (max-width: 680px) {
        h2 {
                font-size: medium;
        }
}